version: '3.8'

services:
  web:
    build: .
    container_name: smart-locker-devops
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - FLASK_ENV=development
    volumes:
      - ./instance:/app/instance